# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

**Objectives:**
    - list tools used in data science
    - popular language used in data science
    - Introduction to python, R and GitHub

## Some of the commonly used libraries used by Data Scientists include:
1. scikit-learn
2. TensorFlow
3. PyTorch

|Data Science Tools|
|..................|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python
- addition (+) operator
- subtraction (-) operator
- multiplication (*) operator
- Division (/) operator

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [21]:
# This will convert 200 minutes to hours by diving by 60
def time_comversion(min):
    min_value = hour_value * 60
    hour_value = min_value // 60
    min_value %= 60
    print("converted minutes to hour:",hour_value)
    
    min = 200
    time_conversion(min)

## Author

#Eileen Numa